// set custom hex colors
$siteBgColorCustom: #DBC69318;
$sidebarBgColorCustom: #DBC69336;
$textColorCustom: #676155;
$sidebarTextColorCustom: #666260;
$headlineColorCustom: #741A33;
$headingColorCustom: #741A3399;
$bodyLinkColorCustom: #741A33;
$navLinkColorCustom: #741A33;
$sidebarLinkColorCustom: #741A33;
$footerTextColorCustom: #A7B3CD;
$buttonTextColorCustom: #DBC693;
$buttonHoverTextColorCustom: #741A33;
$buttonBgColorCustom: #CCD7AD;
$buttonHoverBgColorCustom: #CDB296;
$borderColorCustom: #CCD7AD;